<html>

<head>
    <meta charset="utf-8" />
    <title>Portfolio Overview</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
    <!-- cheerio lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cheerio/1.0.0/dist/browser/cheerio.min.js"
        integrity="sha512-E2KFu1BKX9iAs9NTkG597dp9fhuIlDv7qznIGNTXY6qovDf5N7Rm4dJDC1M2PCFi76S8QEaBh6mtSy6qtuLFFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="mainOverview" style="width: 700px;height:500px;"></div><br /><br /><br />
    <script type="text/javascript">

        var app = {};
        var chartDom = document.getElementById('mainOverview');
        var isaChart = echarts.init(chartDom, 'dark');
        var option;

        var overview_securities_legend = [
            'AMZN',
            'AMAT',
            'MSFT',
            'NU',
            'SOFI',
            'NVO',
            'LRCX',
            'TSM',
            'GOOGL',
            'NTLA',
            'CRSP',
            'PACB',
            'CAVA',
            'FNMA',
            'FMCC',
            'QS'
        ];

        var overview_individual_portfolio_values = [
            { value: 134600, name: 'ISA' },
            { value: 90900, name: 'TRADE' },
            { value: 90500, name: 'SIPP', selected: true }
        ];

        var overview_individual_securities_position_values = [
            { value: (35 + 50 + 200) * 228.6, name: 'AMZN' },
            { value: (100 + 20 + 90) * 169.650, name: 'AMAT' },
            { value: (50 + 5 + 15) * 408.0, name: 'MSFT' },
            { value: (200 + 1600 + 430) * 13.67, name: 'NU' },
            { value: (0 + 1141 + 530) * 16.2100, name: 'SOFI' },
            { value: (0 + 0 + 125) * 77.86, name: 'NVO' },
            { value: (0 + 05 + 13) * 138.48, name: 'NVDA' },
            { value: (0 + 25 + 50) * 203.79, name: 'TSM' },
            { value: (0 + 50 + 0) * 185.24, name: 'GOOGL' },
            { value: (0 + 110 + 40) * 82.90, name: 'LRCX' },
            { value: (360 + 405 + 230) * 10.78, name: 'NTLA' },
            { value: (24 + 124 + 128) * 49.93, name: 'CRSP' },
            { value: (5 + 25 + 31) * 131.070, name: 'CAVA' },
            { value: (4100 + 0 + 0) * 7.09, name: 'FNMA' },
            { value: (1015 + 0 + 0) * 6.45, name: 'FMCC' },
            { value: (100 + 780 + 250) * 5.26, name: 'QS' },
            { value: (310 + 560 + 104) * 1.840, name: 'PACB' }
        ];

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: 1,
                top: 1,
                bottom: 20,
                data: overview_securities_legend
            },
            series: [
                {
                    name: 'Portfolio',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        position: 'inner',
                        fontSize: 14
                    },
                    labelLine: {
                        show: false
                    },
                    data: overview_individual_portfolio_values
                },
                {
                    name: 'Stock:',
                    type: 'pie',
                    radius: ['45%', '60%'],
                    labelLine: {
                        length: 20
                    },
                    label: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        backgroundColor: '#F6F8FC',
                        borderColor: '#8C8D8E',
                        borderWidth: 1,
                        borderRadius: 4,
                        rich: {
                            a: {
                                color: '#6E7079',
                                lineHeight: 5,
                                align: 'center'
                            },
                            hr: {
                                borderColor: '#8C8D8E',
                                width: '100%',
                                borderWidth: 1,
                                height: 0
                            },
                            b: {
                                color: '#4C5058',
                                fontSize: 10,
                                fontWeight: 'bold',
                                lineHeight: 10
                            },
                            per: {
                                color: '#fff',
                                backgroundColor: '#4C5058',
                                padding: [3, 4],
                                borderRadius: 4
                            }
                        }
                    },
                    data: overview_individual_securities_position_values
                }
            ]
        };

        option && isaChart.setOption(option);

    </script>
</body>

</html>