<html>

<head>
    <meta charset="utf-8" />
    <title>Portfolio Overview</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
    <!-- cheerio lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cheerio/1.0.0/dist/browser/cheerio.min.js"
        integrity="sha512-E2KFu1BKX9iAs9NTkG597dp9fhuIlDv7qznIGNTXY6qovDf5N7Rm4dJDC1M2PCFi76S8QEaBh6mtSy6qtuLFFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="mainOverview" style="width: 700px;height:500px;"></div><br /><br /><br />
    <script type="text/javascript">

        var app = {};
        var chartDom = document.getElementById('mainOverview');
        var isaChart = echarts.init(chartDom, 'dark');
        var option;

        var overview_securities_legend = [
            'AMZN',
            'AMAT',
            'MSFT',
            'NU',
            'SOFI',
            'NVO',
            'LRCX',
            'TSM',
            'GOOGL',
            'NTLA',
            'CRSP',
            'PACB',
            'CAVA',
            'FNMA',
            'FMCC',
            'QS'
        ];

        var overview_individual_portfolio_values = [
            { value: 131750, name: 'ISA' },
            { value: 73000, name: 'TRADE' },
            { value: 95540, name: 'SIPP', selected: true }
        ];

        var overview_individual_securities_position_values = [
            { value: (35 + 50 + 200) * 219, name: 'AMZN' },
            { value: (100 + 20 + 100) * 177.0, name: 'AMAT' },
            { value: (60 + 5 + 15) * 439.0, name: 'MSFT' },
            { value: (200 + 1600 + 440) * 12.15, name: 'NU' },
            { value: (0 + 1141 + 530) * 16.00, name: 'SOFI' },
            { value: (0 + 0 + 125) * 110, name: 'NVO' },
            { value: (0 + 30 + 50) * 201.060, name: 'TSM' },
            { value: (0 + 50 + 0) * 175, name: 'GOOGL' },
            { value: (0 + 110 + 40) * 78.0, name: 'LRCX' },
            { value: (340 + 394 + 212) * 14.53, name: 'NTLA' },
            { value: (0 + 101 + 128) * 51.18, name: 'CRSP' },
            { value: (5 + 25 + 31) * 147.50, name: 'CAVA' },
            { value: (4052 + 0 + 0) * 2.52, name: 'FNMA' },
            { value: (1000 + 0 + 0) * 2.5, name: 'FMCC' },
            { value: (75 + 780 + 35) * 5.55, name: 'QS' },
            { value: (200 + 560 + 103) * 2.05, name: 'PACB' }
        ];

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: 1,
                top: 1,
                bottom: 20,
                data: overview_securities_legend
            },
            series: [
                {
                    name: 'Portfolio',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        position: 'inner',
                        fontSize: 14
                    },
                    labelLine: {
                        show: false
                    },
                    data: overview_individual_portfolio_values
                },
                {
                    name: 'Stock:',
                    type: 'pie',
                    radius: ['45%', '60%'],
                    labelLine: {
                        length: 20
                    },
                    label: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        backgroundColor: '#F6F8FC',
                        borderColor: '#8C8D8E',
                        borderWidth: 1,
                        borderRadius: 4,
                        rich: {
                            a: {
                                color: '#6E7079',
                                lineHeight: 5,
                                align: 'center'
                            },
                            hr: {
                                borderColor: '#8C8D8E',
                                width: '100%',
                                borderWidth: 1,
                                height: 0
                            },
                            b: {
                                color: '#4C5058',
                                fontSize: 10,
                                fontWeight: 'bold',
                                lineHeight: 10
                            },
                            per: {
                                color: '#fff',
                                backgroundColor: '#4C5058',
                                padding: [3, 4],
                                borderRadius: 4
                            }
                        }
                    },
                    data: overview_individual_securities_position_values
                }
            ]
        };

        option && isaChart.setOption(option);

    </script>
</body>

</html>