<html>

<head>
    <meta charset="utf-8" />
    <title>ISA Portfolio</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" ></script>
</head>

<body>
    <b>rendering below:</b> <br/>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="mainIsa" style="width: 600px;height:400px;"></div><br/>
    <script type="text/javascript">

    var app = {};
    var chartDom = document.getElementById('mainIsa');

    var myChart = echarts.init(chartDom, 'dark');
    var option;

    var portfolio_data = [
        ['product', 'BookCost', 'MarketValue'],
        ['NU', 9601.0, 23504.0],
        ['CAVA', 2951, 4908],
        ['SOFI', 10059, 8677],
        ['MSFT', 1162, 2151],
        ['AMZN', 34516, 37224],
        ['GOOGL', 5348.0, 7856.0],
        ['AMAT', 4440, 3769],
        ['TSM', 6526, 7765],
        ['LRCX', 9509, 7697],
        ['NTLA', 3590.0, 3293],
        ['CRSP', 3721, 3418],
        ['EDIT', 2222, 813.83],
        ['QS', 4759, 4130],
        ['SNDL', 12030.15, 656],
        ['AQB', 10281.06, 163.20],
        ['PACB', 797.01, 693]
    ];

    option = {
        legend: {},
        tooltip: {},
        dataset: {
            source: portfolio_data
        },
        xAxis: { type: 'category' },
        yAxis: {},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [{ type: 'bar' }, { type: 'bar' }]
    };

    option && myChart.setOption(option);
    </script>
</body>

</html>