<html>

<head>
    <meta charset="utf-8" />
    <title>ISA Portfolio</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" ></script>

    <script type="text/javascript">
        var portfolioData = [
          ['Position', 'BookCost', 'MarketValue']
        ];
        var portfolioDataPositions = [];
        var portfolioDataBookCosts = [];
        var portfolioDataLosses = [];
        var portfolioDataGains = [];
        var portfolioPieChartData = [];
        var url = "https://raw.githubusercontent.com/larinde/larinde.github.io/main/dump/isa_portfolio_data.json";

        async function loadPortfolioData() {
            console.log('******* loading portfolio data *******')
            const response = await fetch(url)
            const json = await response.json()
            json['isaPortfolio'].forEach(cert => {
                portfolioData.push([cert['position'], cert['bookCost'], cert['marketValue']])
                portfolioPieChartData.push({value: cert['marketValue'], name: cert['position']})
                // const beverage = age >= 21 ? "Beer" : "Juice";
                portfolioDataPositions.push([cert['position']])
                portfolioDataBookCosts.push([cert['bookCost']])
                portfolioDataLosses.push([cert['bookCost'] > cert['marketValue'] ? cert['marketValue'] - cert['bookCost'] : 0])
                portfolioDataGains.push([cert['marketValue'] > cert['bookCost'] ? cert['marketValue'] - cert['bookCost'] : 0])
            });
            portfolioData.shift();
            portfolioPieChartData.shift();

            portfolioDataPositions.shift();
            portfolioDataBookCosts.shift();
            portfolioDataLosses.shift();
            portfolioDataGains.shift();
 
            //sort data in descending order
            const compFctn = (a, b) => (b.value - a.value);
            portfolioPieChartData.sort(compFctn);
            portfolioData.sort(compFctn);

            retrieveCurrentStockPrice();
            renderPortfolioCharts();
            renderPortfolioPieChart();
            renderPortfolioProfitLossChart();
        };

        function renderPortfolioCharts() {
                console.log('******* rendering portfolio bar chart *******')
                var barChartTitle = "Asset Distribution"
                var app = {};
                var barChartDom = document.getElementById('portfolioBarChart');
                var isaChart = echarts.init(barChartDom, 'dark');
                var option;

                option = {
                    title: {
                        subtext: barChartTitle,
                        left: 'center'
                    },
                    legend: {
                        orient: 'horizontal',
                        left: 'left'
                    },
                    tooltip: {},
                    dataset: {
                        source: portfolioData
                    },
                    xAxis: { type: 'category' },
                    yAxis: {},
                    // Declare several bar series, each will be mapped
                    // to a column of dataset.source by default.
                    series: [{ type: 'bar' }, { type: 'bar' }]
                };
                option && isaChart.setOption(option);
            }

            
            function renderPortfolioPieChart() {
                console.log('******* rendering portfolio pie chart *******');
                var pieChartDom = document.getElementById('portfolioPieChart');
                var pieChart = echarts.init(pieChartDom, 'dark');
                var pieChartOption;
                var pieChartTitle = 'ISA Portfolio Allocation';

                pieChartOption = {
                    title: {
                        subtext: pieChartTitle,
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left'
                    },
                    series: [
                        {
                            name: 'Market Value (USD)',
                            type: 'pie',
                            radius: '50%',
                            data: portfolioPieChartData,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                pieChartOption && pieChart.setOption(pieChartOption);
            }


            function renderPortfolioProfitLossChart() {
                console.log('******* rendering portfolio Profit vs Loss chart *******');
                var profitLossChartDom = document.getElementById('portfolioProfitLossChart');
                var profitLossChart = echarts.init(profitLossChartDom, 'dark');
                var profitLossChartOption;
                var profitLossChartTitle = 'ISA Portfolio Gain vs Loss';
                console.log(portfolioDataPositions.toString());
                console.log(portfolioDataGains.toString());
                console.log(portfolioDataLosses.toString());
                console.log(portfolioDataBookCosts.toString());  

                profitLossChartOption = {
                    title: {
                        subtext: profitLossChartTitle,
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        orient: 'horizontal',
                        left: 'right',
                        data: ['Gains', 'Loss', 'BookCost']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    yAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                show: false
                            },
                            data: portfolioDataPositions
                        }
                    ],
                    series: [
                        {
                            name: 'Gains',
                            type: 'bar',
                            label: {
                                show: true,
                                position: 'inside'
                            },
                            emphasis: {
                                focus: 'series'
                            },
                            data: portfolioDataGains
                        },
                        {
                            name: 'Loss',
                            type: 'bar',
                            stack: 'Total',
                            label: {
                                show: true
                            },
                            emphasis: {
                                focus: 'series'
                            },
                            data: portfolioDataLosses
                        },
                        {
                            name: 'BookCost',
                            type: 'bar',
                            stack: 'Total',
                            label: {
                                show: true,
                                position: 'left'
                            },
                            emphasis: {
                                focus: 'series'
                            },
                            data: portfolioDataBookCosts
                        }
                    ]
                };
                profitLossChartOption && profitLossChart.setOption(profitLossChartOption);

            }
            
            

            async function retrieveCurrentStockPrice(){
                console.log('------------------ web scraping ------------------');                
                
                var stock_symbol = 'NTLA';
                var url = 'https://finviz.com/quote.ashx?t=' + stock_symbol + '&p=d';
                
                //var stock_symbol = 'NTLA:NASDAQ';
                //url = 'https://www.google.com/finance/quote/' + stock_symbol + '?hl=en';
                //var url = `https://www.google.com/finance/quote/${stock_symbol}?hl=en`;


                var proxyUrl = 'https://cora-anywhere.herokuapp.com/';
                var headers = {
                        "X-Content-Type-Options" : "nosniff",
                        "Access-Control-Expose-Headers" : "*",
                        "Access-Control-Allow-Origin" : "*",
                        "Access-Control-Allow-Headers" : "*",
                        "Access-Control-Request-Method" : "*",
                        "Access-Control-Allow-Headers" : "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                };
                const response = await fetch(url , {
                    method : "GET",
                    mode: "no-cors",
                    headers : headers
                });
                const _page = await response.text();
                
                const parser = new DOMParser();
                const node = parser.parseFromString(_page, 'text/html')
                console.log("DUMP Scrapped Page: >>>>>>  " + node );

                //<td class="snapshot-td2 cursor-pointer w-[7%]" align="left" data-boxover="cssbody=[tooltip_short_bdy] cssheader=[tooltip_short_hdr] body=[Current stock price] offsetx=[10] offsety=[20] delay=[300]">Price</td>
                //<td class="snapshot-td2 w-[8%] " align="left" style=""><b>8.70</b></td>

                //const allCells = Array.from(node.querySelectorAll('td.snapshot-td2-cp, td.snapshot-td2'));
                const allCells = Array.from(node.querySelectorAll('td.snapshot-td2'));
                // Find the cell containing "Price"
                let price = null;
                for (let i = 0; i < allCells.length; i++) {
                    //console.log("searching ----> " + allCells[i]);
                    //console.log(node.getElementById('td.snapshot-td2'));
                    if (allCells[i].textContent.trim() === "Price") {
                        // The next sibling cell contains the stock price (in bold)
                        const valueCell = allCells[i + 1];
                        if (valueCell) {
                        const bold = valueCell.querySelector('b');
                        if (bold) {
                            price = bold.textContent.trim();
                        } else {
                            price = valueCell.textContent.trim(); // fallback
                        }
                        }
                        break;
                    }
                }

                if (price) {
                console.log("Stock Price:", price);
                } else {
                console.log("Price not found in Finviz HTML.");
                }


                const content = `
                <!doctype html>
                <html lang="en-GB" theme="light"  data-color-scheme="light" class="desktop neo-green dock-upscale">
                    <head>
                        <meta charset="utf-8" />
                    </head>
                    <body id="atomic">
                        <h1 id="title">doc title</h1>
                        <h2>narrative starts here</h2>
                    </body>
                </html>
                `;
                //const node = parser.parseFromString(content, 'text/html')
                //console.log(node.getElementById('title'));
                //console.log(node.getElementsByTagName('h2'));
            }

    </script>
</head>
<body>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="portfolioBarChart" style="width: 600px;height:400px;"></div>
    <div id="portfolioPieChart" style="width: 600px;height:400px;"></div><br />
    <div id="portfolioProfitLossChart" style="width: 600px;height:400px;"></div><br/><br /><br />
    <script type="text/javascript">
        loadPortfolioData();
    </script>
</body>

</html>