<html>

<head>
    <meta charset="utf-8" />
    <title>ISA Portfolio</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" ></script>
    <script type="text/javascript">
        var portfolioData = [
            
            ];
        var url = "https://raw.githubusercontent.com/larinde/larinde.github.io/main/isa_portfolio_data.json";
        async function loadPortfolioData() {
            const response = await fetch(url)
            const json = await response.json()
            json['isaPortfolio'].forEach(cert => {
                portfolioData.push([cert['position'], cert['bookCost'], cert['marketValue']])
            });
            renderPortfolioCharts();
            //return data;
        };

            function renderPortfolioCharts() {
                    console.log('******* rendering portfolio charts *******')
                    var isaPortfolioData = [
                        ['Position', 'BookCost', 'MarketValue'],
                        ['AMZN', 34516, 37626],
                        ['NU', 9601.0, 24185.0],
                        ['SOFI', 10059, 9185],
                        ['GOOGL', 5348.0, 7974.0],
                        ['CAVA', 2951, 4908]
                    ];


                    var app = {};
                    var chartDom = document.getElementById('mainIsa');
                    var isaChart = echarts.init(chartDom, 'dark');
                    var option;

                    option = {
                        legend: {},
                        tooltip: {},
                        dataset: {
                            source: portfolioData
                        },
                        xAxis: { type: 'category' },
                        yAxis: {},
                        // Declare several bar series, each will be mapped
                        // to a column of dataset.source by default.
                        series: [{ type: 'bar' }, { type: 'bar' }]
                    };

                    option && isaChart.setOption(option);
                }

    </script>
</head>
<body>
    <b>rendering below:</b> <br/>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="mainIsa" style="width: 600px;height:400px;"></div><br/>
    <script type="text/javascript">
        loadPortfolioData();
        //console.log("DONE")
    </script>
</body>

</html>