<html>

<head>
    <meta charset="utf-8" />
    <title>TRADE Portfolio</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" ></script>

    <script type="text/javascript">
        var portfolioData = [
          ['Position', 'BookCost', 'MarketValue']
        ];
        var portfolioPieChartData = [];
        var url = "https://raw.githubusercontent.com/larinde/larinde.github.io/main/dump/isa_portfolio_data.json";

        async function loadPortfolioData() {
            console.log('******* loading portfolio data ******')
            const response = await fetch(url)
            const json = await response.json()
            json['tradePortfolio'].forEach(cert => {
                portfolioData.push([cert['position'], cert['bookCost'], cert['marketValue']])
                portfolioPieChartData.push({value: cert['marketValue'], name: cert['position']})
            });
            portfolioData.shift();
            portfolioPieChartData.shift();

            retrieveCurrentStockPrice();
            renderPortfolioCharts();
            renderPortfolioPieChart();
        };

        function renderPortfolioCharts() {
                console.log('******* rendering portfolio bar chart *******')
                var barChartTitle = "Asset Distribution"
                var app = {};
                var barChartDom = document.getElementById('portfolioBarChart');
                var tradeChart = echarts.init(barChartDom, 'dark');
                var option;

                option = {
                    title: {
                        subtext: barChartTitle,
                        left: 'center'
                    },
                    legend: {
                        orient: 'horizontal',
                        left: 'left'
                    },
                    tooltip: {},
                    dataset: {
                        source: portfolioData
                    },
                    xAxis: { type: 'category' },
                    yAxis: {},
                    // Declare several bar series, each will be mapped
                    // to a column of dataset.source by default.
                    series: [{ type: 'bar' }, { type: 'bar' }]
                };
                option && tradeChart.setOption(option);
            }

            
            function renderPortfolioPieChart() {
                console.log('******* rendering portfolio pie chart *******');
                var pieChartDom = document.getElementById('portfolioPieChart');
                var pieChart = echarts.init(pieChartDom, 'dark');
                var pieChartOption;
                var pieChartTitle = 'Trade Portfolio Allocation';

                pieChartOption = {
                    title: {
                        subtext: pieChartTitle,
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left'
                    },
                    series: [
                        {
                            name: 'Market Value (USD)',
                            type: 'pie',
                            radius: '50%',
                            data: portfolioPieChartData,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                pieChartOption && pieChart.setOption(pieChartOption);
            }

            async function retrieveCurrentStockPrice(){
                console.log('------------------ web scraping ------------------');                
                var url = 'https://finviz.com/quote.ashx?t=MSFT&p=d';
                var proxyUrl = 'https://cora-anywhere.herokuapp.com/';
                var headers = {
                    'Access-Control-Allow-Origin' : '*',
                    'Access-Control-Allow-Headers' : 'Origin, X-Requested-With, Content-Type, Accept',
                    'X-Content-Type-Options': 'nosniff'
                };
                const response = await fetch(url , {
                    method : "GET",
                    mode: "no-cors",
                    headers : {
                        "X-Content-Type-Options" : "nosniff",
                        "Access-Control-Expose-Headers" : "*",
                        "Access-Control-Allow-Origin" : "*",
                        "Access-Control-Allow-Headers" : "*",
                        "Access-Control-Request-Method" : "*",
                        "Access-Control-Allow-Headers" : "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                    }
                });
                const _page = await response.text();
                
                const parser = new DOMParser();
                const node = parser.parseFromString(_page, 'text/html')
                console.log("OUTPUT: >>>>>>  " + node );


                const content = `
                <!doctype html>
                <html lang="en-GB" theme="light"  data-color-scheme="light" class="desktop neo-green dock-upscale">
                    <head>
                        <meta charset="utf-8" />
                    </head>
                    <body id="atomic">
                        <h1 id="title">doc title</h1>
                        <h2>narrative starts here</h2>
                    </body>
                </html>
                `;
                //const node = parser.parseFromString(content, 'text/html')
                //console.log(node.getElementById('title'));
                //console.log(node.getElementsByTagName('h2'));
            }

    </script>
</head>
<body>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="portfolioBarChart" style="width: 600px;height:400px;"></div>
    <div id="portfolioPieChart" style="width: 600px;height:400px;"></div><br/><br /><br />
    <script type="text/javascript">
        loadPortfolioData();
    </script>
</body>

</html>